@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
	@section Head
	{
		<p> welcome to a textd page </p>
	}

	<body>
		<p>Hello World</p>
	</body>
	
	<h2>@Umbraco.Field("pageName")</h2>
	<p>@Umbraco.Field("bodyText")</p>
	
		
		@section footer
	{
		<p class="footer"> Updated by @Umbraco.Field("writerName")on  @Umbraco.Field("updateDate", formatAsDate: true)</p>
	}

