<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT frontPage ANY>
<!ATTLIST frontPage id ID #REQUIRED>
<!ELEMENT newsArea ANY>
<!ATTLIST newsArea id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <frontPage id="1052" key="62096c94-fb21-4173-9886-48166014738f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-26T15:35:12" updateDate="2016-05-27T03:55:21" nodeName="Welcome" urlName="welcome" path="-1,1052" isDoc="" nodeType="1051" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1050" nodeTypeAlias="frontPage">
    <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque nisl vel magna dignissim sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et elit fermentum, placerat mi porta, porttitor justo. Fusce at eros a velit posuere dictum quis ac felis. Morbi at tellus in felis fermentum dapibus. Integer ultrices ornare finibus. Integer vulputate id lacus at pulvinar. Pellentesque finibus dolor nisl. Donec auctor mi elit, nec efficitur erat finibus a. Nullam mauris lorem, tincidunt et mattis nec, hendrerit in arcu. Nam in ipsum quis turpis laoreet pretium. Quisque ac felis vel sem pulvinar scelerisque. Integer non tempor nulla. Aliquam leo lorem, convallis pretium purus sit amet, hendrerit vehicula diam.</span></p>]]></bodyText>
    <textPage id="1055" key="c3dc9f59-429f-4e0a-ba9c-9e0c221e9573" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-05-26T15:40:08" updateDate="2016-05-27T04:00:32" nodeName="Documentation" urlName="documentation" path="-1,1052,1055" isDoc="" nodeType="1054" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1053" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque nisl vel magna dignissim sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et elit fermentum, placerat mi porta, porttitor justo. Fusce at eros a velit posuere dictum quis ac felis. Morbi at tellus in felis fermentum dapibus. Integer ultrices ornare finibus. Integer vulputate id lacus at pulvinar. Pellentesque finibus dolor nisl. Donec auctor mi elit, nec efficitur erat finibus a. Nullam mauris lorem, tincidunt et mattis nec, hendrerit in arcu. Nam in ipsum quis turpis laoreet pretium. Quisque ac felis vel sem pulvinar scelerisque. Integer non tempor nulla. Aliquam leo lorem, convallis pretium purus sit amet, hendrerit vehicula diam.</span></p>]]></bodyText>
    </textPage>
    <textPage id="1056" key="86f9f8c7-6ef7-4037-89d2-0b0a24f3fc01" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2016-05-26T15:40:25" updateDate="2016-05-27T04:00:36" nodeName="About us" urlName="about-us" path="-1,1052,1056" isDoc="" nodeType="1054" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1053" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque nisl vel magna dignissim sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et elit fermentum, placerat mi porta, porttitor justo. Fusce at eros a velit posuere dictum quis ac felis. Morbi at tellus in felis fermentum dapibus. Integer ultrices ornare finibus. Integer vulputate id lacus at pulvinar. Pellentesque finibus dolor nisl. Donec auctor mi elit, nec efficitur erat finibus a. Nullam mauris lorem, tincidunt et mattis nec, hendrerit in arcu. Nam in ipsum quis turpis laoreet pretium. Quisque ac felis vel sem pulvinar scelerisque. Integer non tempor nulla. Aliquam leo lorem, convallis pretium purus sit amet, hendrerit vehicula diam.</span></p>]]></bodyText>
    </textPage>
    <textPage id="1058" key="89007e1e-bf50-4500-9441-93052fd830cb" parentID="1052" level="2" creatorID="0" sortOrder="2" createDate="2016-05-27T03:16:53" updateDate="2016-05-27T04:00:40" nodeName="Products" urlName="products" path="-1,1052,1058" isDoc="" nodeType="1054" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1053" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque nisl vel magna dignissim sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et elit fermentum, placerat mi porta, porttitor justo. Fusce at eros a velit posuere dictum quis ac felis. Morbi at tellus in felis fermentum dapibus. Integer ultrices ornare finibus. Integer vulputate id lacus at pulvinar. Pellentesque finibus dolor nisl. Donec auctor mi elit, nec efficitur erat finibus a. Nullam mauris lorem, tincidunt et mattis nec, hendrerit in arcu. Nam in ipsum quis turpis laoreet pretium. Quisque ac felis vel sem pulvinar scelerisque. Integer non tempor nulla. Aliquam leo lorem, convallis pretium purus sit amet, hendrerit vehicula diam.</span></p>]]></bodyText>
    </textPage>
    <newsArea id="1065" key="d4b63f32-3dc2-4e5b-978b-b642046efbfb" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2016-05-27T04:13:47" updateDate="2016-05-27T04:28:06" nodeName="News" urlName="news" path="-1,1052,1065" isDoc="" nodeType="1060" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1059" nodeTypeAlias="newsArea">
      <bodyText><![CDATA[<p>a news site</p>]]></bodyText>
      <newsItem id="1066" key="e81f03cc-10ae-48ee-95ae-d20b8fcc286e" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2016-05-27T04:14:38" updateDate="2016-05-27T04:27:58" nodeName="Almost halfway now" urlName="almost-halfway-now" path="-1,1052,1065,1066" isDoc="" nodeType="1062" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[a summary of the article]]></summary>
        <bodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque nisl vel magna dignissim sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et elit fermentum, placerat mi porta, porttitor justo. Fusce at eros a velit posuere dictum quis ac felis. Morbi at tellus in felis fermentum dapibus. Integer ultrices ornare finibus. Integer vulputate id lacus at pulvinar. Pellentesque finibus dolor nisl. Donec auctor mi elit, nec efficitur erat finibus a. Nullam mauris lorem, tincidunt et mattis nec, hendrerit in arcu. Nam in ipsum quis turpis laoreet pretium. Quisque ac felis vel sem pulvinar scelerisque. Integer non tempor nulla. Aliquam leo lorem, convallis pretium purus sit amet, hendrerit vehicula diam.</span></p>]]></bodyText>
      </newsItem>
      <newsItem id="1067" key="0c08c8b2-23c6-44be-9320-3bc67837d1cf" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2016-05-27T04:34:57" updateDate="2016-05-27T04:35:05" nodeName="a second item" urlName="a-second-item" path="-1,1052,1065,1067" isDoc="" nodeType="1062" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[<p>a new summary</p>]]></summary>
        <bodyText><![CDATA[<p>lorem ipsum second</p>]]></bodyText>
      </newsItem>
      <newsItem id="1070" key="780dfed5-36d5-4e55-be72-5a93590cb48c" parentID="1065" level="3" creatorID="1" sortOrder="2" createDate="2016-05-27T05:34:59" updateDate="2016-05-27T05:34:59" nodeName="Editor News" urlName="editor-news" path="-1,1052,1065,1070" isDoc="" nodeType="1062" creatorName="News Editor" writerName="News Editor" writerID="1" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[<p>Lorem ipsum editor news</p>]]></summary>
      </newsItem>
    </newsArea>
    <textPage id="1069" key="46be2197-8b2b-4956-a8d8-db6909cc1cd2" parentID="1052" level="2" creatorID="0" sortOrder="4" createDate="2016-05-27T04:46:51" updateDate="2016-05-27T04:49:44" nodeName="Razor_testing" urlName="razor_testing" path="-1,1052,1069" isDoc="" nodeType="1054" creatorName="Martin Delfs" writerName="Martin Delfs" writerID="0" template="1068" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p>Razor testing</p>]]></bodyText>
    </textPage>
  </frontPage>
</root>